[submodule "src/Odl/ShadowBundle"]
	path = src/Odl/ShadowBundle
	url = git://github.com/dtee/ShadowBundle.git
[submodule "src/Odl/AuthBundle"]
	path = src/Odl/AuthBundle
	url = git://github.com/dtee/auth.git
[submodule "src/Odl/AssetBundle"]
	path = src/Odl/AssetBundle
	url = git://github.com/dtee/asset.git
[submodule "src/Odl/PlacesBundle"]
	path = src/Odl/PlacesBundle
	url = ssh://git@wooshed.com/~/places.git
